<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Display" alias="display" />
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Notice" alias="notice" />	
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Reply" alias="reply" />	
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Rental" alias="rental" />
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Reserve" alias="reserve" />
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Member" alias="member" />
		
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Review" alias="review" />
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Artist" alias="artist" />
		<typeAlias type="com.kh.curaeasyadmin.model.vo.Gallery" alias="gallery" />
		
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/admin-mapper.xml" />
	</mappers>
	
</configuration>  





