<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="artistMapper">
	<resultMap id="artistResultSet" type="artist">
		<result column="ARTIST_NO" property="artistNo" />
		<result column="ARTIST_NICKNAME" property="artistNickName" />
		<result column="ARTIST_ORDINAL" property="artistOrdinal" />
		<result column="ARTIST_APPLY_DATE" property="artistApplyDate" />
		<result column="ARTIST_APPLY_TITLE" property="artistApplyTitle" />
		<result column="ARTIST_INTRODUCE" property="artistIntroduce" />
		<result column="ARTIST_IMAGE" property="artistImage" />
		<result column="ARTIST_RESULT" property="artistResult" />
		<result column="ARTIST_STATUS" property="artistStatus" />
		<result column="MEMBER_NO" property="memberNo" />
	</resultMap>
	<select id="NickNameCheck" resultType="_int" parameterType="string">
		SELECT COUNT(*)
		 	  FROM ARTIST
		 WHERE ARTIST_NICKNAME = #{checkNickName} 
	</select>
	<insert id="insertArtist" parameterType="artist">
	 INSERT INTO ARTIST (ARTIST_NO,ARTIST_NICKNAME,ARTIST_ORDINAL,ARTIST_APPLY_TITLE,
                     	 ARTIST_INTRODUCE,ARTIST_IMAGE,MEMBER_NO)
	             VALUES ( SEQ_ARTIST_NO.NEXTVAL,#{artistNickName},#{artistOrdinal},#{artistApplyTitle}
	             		,#{artistIntroduce},#{artistImage},#{memberNo})
	</insert>
	<select id="artistNo" resultType="_int" parameterType="_int">
		SELECT ARTIST_NO
		 	  FROM ARTIST
		 WHERE MEMBER_NO = #{userNo} 
	</select>
	<!-- 메인페이지에 표시할 최신 등록 작가를 한명 선택하는 쿼리 -->
	<select id="selectLatestArtist" resultMap="artistResultSet">
		SELECT *
		  FROM ARTIST
		 WHERE ARTIST_RESULT = 'Y'
		   AND ARTIST_NO = (SELECT MAX(ARTIST_NO)
		   					   FROM ARTIST)
	</select>
	
	<!-- 작가소개 페이지에 표시할 작가 리스트를 가져오는 쿼리 -->
	<select id="selectArtistList" resultMap="artistResultSet">
		SELECT ARTIST_NICKNAME,
			   ARTIST_INTRODUCE,
			   ARTIST_ORDINAL,
			   ARTIST_IMAGE
		  FROM ARTIST
		 WHERE ARTIST_RESULT = 'Y'
		   AND ARTIST_STATUS = 'Y'
		 ORDER BY ARTIST_ORDINAL DESC, ARTIST_NO DESC
	</select>
		<select id="selectArtistNo" resultType="_int" parameterType="_int">
		SELECT COUNT(*)
		 	  FROM ARTIST
		 WHERE MEMBER_NO = #{memberNo} 
	</select>
</mapper>
