<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="displayMapper">
	<resultMap id="displayResultSet" type="display">
		<result column="DISPLAY_NO" property="displayNo" />
		<result column="DISPLAY_NAME" property="displayName" />
		<result column="DISPLAY_CONTENT" property="displayContent" />
		<result column="DISPLAY_START_DATE" property="displayStartDate" />
		<result column="DISPLAY_END_DATE" property="displayEndDate" />
		<result column="DISPLAY_PRICE" property="displayPrice" />
		<result column="DISPLAY_STATUS" property="displayStatus" />
		<result column="ARTIST_NO" property="artistNo" />
		<result column="GALLERY_NO" property="galleryNo" />
		<result column="IMAGE_PATH" property="imagePath" />
		<result column="LIKE_COUNT" property="likeCount" />
	</resultMap>
	<resultMap type="displayAttachment" id="displayAttachmentResultSet">
		<result column="ATTACHMENT_NO" property="attachmentNo" />
		<result column="ORIGIN_NAME" property="originName" />
		<result column="CHANGE_NAME" property="changeName" />
		<result column="IMAGE_LEVEL" property="imageLevel" />
		<result column="STATUS" property="status" />
		<result column="DISPLAY_NO" property="displayNo" />
	</resultMap>
		<select id="mainPageSelectDisplayList" resultMap="displayResultSet">
			SELECT DISPLAY_NO,
				   DISPLAY_NAME,
				   DISPLAY_CONTENT,
				   TO_CHAR(DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
				   TO_CHAR(DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
				   GALLERY_NAME AS GALLERY_NO
			  FROM DISPLAY 
              JOIN GALLERY ON(DISPLAY.GALLERY_NO = GALLERY.GALLERY_NO)
			 WHERE SYSDATE BETWEEN DISPLAY_START_DATE AND DISPLAY_END_DATE
			 ORDER BY DISPLAY_NO
		</select>
		<select id="selectOnDisplayList" resultMap="displayResultSet">
		    SELECT D.DISPLAY_NO,
			       D.DISPLAY_NAME,
			       D.DISPLAY_CONTENT,
			       TO_CHAR(D.DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
			       TO_CHAR(D.DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
			       G.GALLERY_NAME AS GALLERY_NO,
			       D.DISPLAY_STATUS,
			       A.CHANGE_NAME AS IMAGE_PATH,
			       COUNT(L.DISPLAY_NO) AS LIKE_COUNT
       
			  FROM DISPLAY D
			  LEFT JOIN GALLERY G ON(D.GALLERY_NO = G.GALLERY_NO)
			  LEFT JOIN DISPLAY_ATTACHMENT A ON(D.DISPLAY_NO = A.DISPLAY_NO AND A.IMAGE_LEVEL = 1)
			  LEFT JOIN "LIKE" L ON (D.DISPLAY_NO = L.DISPLAY_NO) 
			 WHERE D.DISPLAY_STATUS != '종료'
			   AND SYSDATE BETWEEN D.DISPLAY_START_DATE AND D.DISPLAY_END_DATE
			   group by D.DISPLAY_NO, D.DISPLAY_NAME, D.DISPLAY_CONTENT, TO_CHAR(D.DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)'), TO_CHAR(D.DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)'), 
			G.GALLERY_NAME, D.DISPLAY_STATUS, A.CHANGE_NAME
		</select>
		<select id="selectUpcomingDisplayList" resultMap="displayResultSet">
		    SELECT D.DISPLAY_NO,
		           D.DISPLAY_NAME,
		           D.DISPLAY_CONTENT,
		           TO_CHAR(D.DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
		           TO_CHAR(D.DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
		           G.GALLERY_NAME AS GALLERY_NO,
		           D.DISPLAY_STATUS,
		           A.CHANGE_NAME AS IMAGE_PATH
		      FROM DISPLAY D
		      JOIN GALLERY G ON(D.GALLERY_NO = G.GALLERY_NO)
		      LEFT JOIN DISPLAY_ATTACHMENT A ON(D.DISPLAY_NO = A.DISPLAY_NO AND A.IMAGE_LEVEL = 1)
		     WHERE D.DISPLAY_STATUS != '종료'
		       AND D.DISPLAY_START_DATE > SYSDATE
		     ORDER BY D.DISPLAY_START_DATE
		</select>
		<select id="selectClosedDisplayList" resultMap="displayResultSet">
		    SELECT D.DISPLAY_NO,
		           D.DISPLAY_NAME,
		           D.DISPLAY_CONTENT,
		           TO_CHAR(D.DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
		           TO_CHAR(D.DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
		           G.GALLERY_NAME AS GALLERY_NO,
		           D.DISPLAY_STATUS,
		           A.CHANGE_NAME AS IMAGE_PATH
		      FROM DISPLAY D
		      JOIN GALLERY G ON(D.GALLERY_NO = G.GALLERY_NO)
		      LEFT JOIN DISPLAY_ATTACHMENT A ON(D.DISPLAY_NO = A.DISPLAY_NO AND A.IMAGE_LEVEL = 1)
		     WHERE D.DISPLAY_STATUS != '종료'
		       AND D.DISPLAY_START_DATE > SYSDATE
		     ORDER BY D.DISPLAY_START_DATE
		</select>
		<insert id="insertDisplay" parameterType="display">
			INSERT INTO DISPLAY
						VALUES(SEQ_DISPLAY_NO.NEXTVAL,
							   #{displayName},
							   #{displayContent},
							   #{displayStartDate},
							   #{displayEndDate},
							   #{displayPrice},
							   DEFAULT,
							   1,
							   1)
		</insert>
		<insert id="insertDisplayAttachment" parameterType="displayAttachment">
			
			INSERT INTO DISPLAY_ATTACHMENT(
									ATTACHMENT_NO,
									ORIGIN_NAME,
									CHANGE_NAME,
									IMAGE_LEVEL,
									DISPLAY_NO)
					VALUES(SEQ_DISPLAY_ATTACHMENT_NO.NEXTVAL, 
							#{originName},
							#{changeName},
							#{imageLevel},
							SEQ_DISPLAY_NO.CURRVAL)
		</insert>
	
	<!-- 메인페이지에 표시할 (진행중인) 최신 전시를 한개 선택하는 쿼리 -->
	<select id="selectLatestDisplay" resultType="display" resultMap="displayResultSet" >
		SELECT DISPLAY_NAME,
			   TO_CHAR(DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
			   TO_CHAR(DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
			   DISPLAY_CONTENT,
			   GALLERY_NAME AS GALLERY_NO
		  FROM DISPLAY
		  JOIN GALLERY ON(DISPLAY.GALLERY_NO = GALLERY.GALLERY_NO)
		 WHERE DISPLAY_NO = (SELECT MAX(DISPLAY_NO)
		                       FROM DISPLAY
		                      WHERE DISPLAY_STATUS = '진행')

	</select>
	
	<!-- 전시 상세페이지에 표시할 전시 데이터 1개를 선택하는 쿼리 -->
	<select id="selectDisplay" parameterType="_int" resultMap="displayResultSet">
		SELECT DISPLAY_NO,
			   DISPLAY_NAME,
			   DISPLAY_CONTENT,
			   TO_CHAR(DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
			   TO_CHAR(DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE,
			   DISPLAY_PRICE,
			   DISPLAY_STATUS,
			   ARTIST_NICKNAME AS ARTIST_NO,
			   GALLERY_NAME AS GALLERY_NO
		  FROM DISPLAY D
		  JOIN ARTIST A USING(ARTIST_NO)
		  JOIN GALLERY G USING(GALLERY_NO)
		 WHERE DISPLAY_STATUS != '종료'
		   AND DISPLAY_NO = #{dno}
	</select>
	
	<!-- 전시 상세페이지에 표시할 사진 데이터를 선택하는 쿼리  -->
	<select id="selectDisplayAttachment" parameterType="_int" resultMap="displayAttachmentResultSet">
		SELECT *
		  FROM DISPLAY_ATTACHMENT A
		  JOIN DISPLAY D USING(DISPLAY_NO)
		 WHERE DISPLAY_STATUS != '종료'
		   AND DISPLAY_NO = #{dno}
	</select>
	
	<!-- 현재전시 목록페이지에 들어갈 전시 데이터를 가져오는 쿼리 -->
	<select id="selectOnDisplay" resultMap="displayResultSet">
		SELECT DISPLAY_NO,
			   DISPLAY_NAME,
		       TO_CHAR(DISPLAY_START_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_START_DATE,
			   TO_CHAR(DISPLAY_END_DATE, 'YYYY-MM-DD(DAY)') AS DISPLAY_END_DATE
		  FROM DISPLAY
		 WHERE DISPLAY_STATUS = '진행'
		 ORDER BY DISPLAY_NO
	</select>
	
	<!-- 현재전시 목록페이지에 들어갈 섬네일 데이터를 가져오는 쿼리 -->
	<select id="selectOnDisplayThumbnail" resultMap="displayAttachmentResultSet">
		SELECT A.*
		  FROM DISPLAY_ATTACHMENT A
		  JOIN DISPLAY D ON(A.DISPLAY_NO = D.DISPLAY_NO)
		 WHERE DISPLAY_STATUS = '진행'
		   AND IMAGE_LEVEL = '1'
		 ORDER BY A.DISPLAY_NO
	</select>
	
	
	<select id="mydisplayList" resultMap="displayResultSet">
		    SELECT *
		      FROM DISPLAY 
		     WHERE ARTIST_NO =#{artistNo}
		     ORDER BY DISPLAY_NO DESC
		</select>
		
	<select id="selectDisplayList" resultMap="displayResultSet">
			SELECT DISPLAY_NO,
				   DISPLAY_NAME,
				   TO_CHAR(DISPLAY_START_DATE, 'yyyy-mm-dd') AS DISPLAY_START_DATE,
				   TO_CHAR(DISPLAY_END_DATE, 'yyyy-mm-dd') AS DISPLAY_END_DATE,
				   DISPLAY_STATUS
			  FROM DISPLAY
	</select>
</mapper>
