<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="rentalMapper">
	<resultMap id="RentalResultSet" type="rental">
		<result column="RENTAL_NO" property="rentalNo" />
		<result column="RENTAL_APPLY_DATE" property="rentalApplyDate" />
		<result column="RENTAL_START_DATE" property="rentalStartDate" />
		<result column="RENTAL_END_DATE" property="rentalEndDate" />
		<result column="RENTAL_CONTENT" property="rentalContent" />
		<result column="RENTAL_RESULT" property="rentalResult" />
		<result column="RENTAL_STATUS" property="rentalStatus" />
		<result column="ARTIST_NO" property="artistNo" />
		<result column="GALLERY_NO" property="galleryNo" />
	</resultMap>
	<select id="calendar" parameterType="_int" resultMap="RentalResultSet" >
		SELECT *
		 	  FROM RENTAL
		 WHERE GALLERY_NO = #{gno} 
	</select>
	<select id="ValidDate" resultType="_int" parameterType="rental">
		SELECT COUNT(*)
		 	  FROM RENTAL
		 WHERE GALLERY_NO = #{galleryNo} 
		   AND RENTAL_START_DATE  &lt;= #{rentalStartDate} 
		   AND RENTAL_END_DATE  &gt; #{rentalStartDate} 
		   AND SYSDATE  &lt; #{rentalStartDate} 
	</select>
	<select id="dayCheck" resultType="_int" parameterType="rental">
		SELECT COUNT(*)
		 	  FROM RENTAL
		 WHERE GALLERY_NO = #{galleryNo} 
		   AND RENTAL_START_DATE  &lt;= #{rentalEndDate} 
		   AND RENTAL_END_DATE  &gt; #{rentalEndDate} 
	</select>
	<select id="checkEndDay" resultType="_int" parameterType="rental">
		SELECT COUNT(*)
		 	  FROM RENTAL
		 WHERE GALLERY_NO = #{galleryNo} 
		   AND RENTAL_END_DATE  &lt;= #{rentalEndDate} 
		   AND RENTAL_START_DATE &gt;= #{rentalEndDate} 
	</select>
	<select id="checkStdDay" resultType="_int" parameterType="rental">
		SELECT COUNT(*)
		 	  FROM RENTAL
		 WHERE GALLERY_NO = #{galleryNo} 
		   AND TO_CHAR(RENTAL_START_DATE , 'YYYY.MM.DD') = #{rentalEndDate} 
	</select>
	<insert id="result" parameterType="rental">
			 INSERT INTO RENTAL (RENTAL_NO, RENTAL_START_DATE,RENTAL_END_DATE,RENTAL_CONTENT, ARTIST_NO,  GALLERY_NO )
			             VALUES (SEQ_RENTAL_NO.NEXTVAL,#{rentalStartDate} ,#{rentalEndDate} ,#{rentalContent} ,#{artistNo},#{galleryNo}   )
	</insert>
	<select id="selectMyLentalList" parameterType="_int" resultMap="RentalResultSet" >
			SELECT *
		 	  FROM RENTAL
		 WHERE ARTIST_NO = #{artistNo} 
		 ORDER BY RENTAL_NO DESC
	</select>
</mapper>
