<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reserveMapper">
	<resultMap id="reserveResultSet" type="reserve">
		<result column="RESERVE_NO" property="reserveNo" />
		<result column="RESERVE_COUNT" property="reserveCount" />
		<result column="PAYMENT_CODE" property="paymentCode" />
		<result column="PAYMENT_DATE" property="paymentDate" />
		<result column="ENTRANCE_DATE" property="entranceDate" />
		<result column="PAYMENT_PRICE" property="paymentPrice" />
		<result column="RESERVE_STATUS" property="reserveStatus" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="DISPLAY_NO" property="displayNo" />
	</resultMap>
	<insert id="insertReserve" parameterType="reserve">
		INSERT INTO RESERVE
					VALUES(SEQ_RESERVE_NO.NEXTVAL,
						   #{reserveCount},
						   #{paymentCode},
						   DEFAULT,
						   #{entranceDate},
						   #{paymentPrice},
						   DEFAULT,
						   #{memberNo},
						   #{displayNo}
					)
	</insert>
	<select id="selectLastInsertedReserve" resultMap="reserveResultSet">
		SELECT *
		  FROM RESERVE
		 WHERE RESERVE_NO = (SELECT MAX(RESERVE_NO)
		 					   FROM RESERVE)
	</select>
</mapper>
