<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "mybatis-3-mapper.dtd" >
<mapper namespace="reserveMapper">
	<resultMap id="reserveResultSet" type="reserve">
		<result column="RESERVE_NO" property="reserveNo" />
		<result column="RESERVE_COUNT" property="reserveCount" />
		<result column="PAYMENT_CODE" property="paymentCode" />
		<result column="PAYMENT_DATE" property="paymentDate" />
		<result column="ENTRANCE_DATE" property="entranceDate" />
		<result column="PAYMENT_PRICE" property="paymentPrice" />
		<result column="RESERVE_STATUS" property="reserveStatus" />
		<result column="MEMBER_NO" property="memberNo" />
		<result column="DISPLAY_NO" property="displayNo" />
	</resultMap>
	<insert id="insertReserve" parameterType="reserve">
		INSERT INTO RESERVE
					VALUES(SEQ_RESERVE_NO.NEXTVAL,
						   #{reserveCount},
						   #{paymentCode},
						   DEFAULT,
						   #{entranceDate},
						   #{paymentPrice},
						   DEFAULT,
						   #{memberNo},
						   #{displayNo}
					)
	</insert>
	<select id="selectLastInsertedReserve" resultMap="reserveResultSet" parameterType="string">
		SELECT RESERVE_NO,
			   RESERVE_COUNT,
			   PAYMENT_CODE,
			   PAYMENT_DATE,
			   TO_CHAR(ENTRANCE_DATE, 'YYYY-MM-DD') AS ENTRANCE_DATE,
			   PAYMENT_PRICE,
			   RESERVE_STATUS,
			   MEMBER_NO,
			   DISPLAY_NO
		  FROM RESERVE
		 WHERE RESERVE_NO = (SELECT MAX(RESERVE_NO)
		 					   FROM RESERVE
		 					  WHERE MEMBER_NO = #{memberNo})
	</select>
	<select id="selectReserve" resultMap="reserveResultSet" parameterType="_int">
		SELECT RESERVE_NO,
			   RESERVE_COUNT,
			   PAYMENT_CODE,
			   PAYMENT_DATE,
			   TO_CHAR(ENTRANCE_DATE, 'YYYY-MM-DD') AS ENTRANCE_DATE,
			   PAYMENT_PRICE,
			   RESERVE_STATUS,
			   MEMBER_NO,
			   DISPLAY_NO
		  FROM RESERVE
		 WHERE RESERVE_NO = #{reserveNo}
	</select>
	
	<select id="selectReserveList" parameterType="_int" resultMap="reserveResultSet">
		SELECT RESERVE_NO,
			   RESERVE_COUNT,
			   TO_CHAR(PAYMENT_DATE, 'YYYY-MM-DD') AS PAYMENT_DATE,
			   TO_CHAR(ENTRANCE_DATE, 'YYYY-MM-DD') AS ENTRANCE_DATE,
			   PAYMENT_PRICE,
			   RESERVE_STATUS,
			   MEMBER_NO,
			   DISPLAY_NAME AS DISPLAY_NO
		  FROM RESERVE R
		  LEFT JOIN DISPLAY D ON (R.DISPLAY_NO = D.DISPLAY_NO)
		 WHERE MEMBER_NO = #{memberNo}
		 ORDER BY RESERVE_NO DESC
	</select>
</mapper>
