<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  
<configuration>
	<settings>
		<setting name="jdbcTypeForNull" value="NULL" />
	</settings>
	
	<typeAliases>
		<typeAlias type="com.kh.curaeasy.member.model.vo.Member" alias="member" />
		<typeAlias type="com.kh.curaeasy.member.model.vo.Cert" alias="cert" />
		<typeAlias type="com.kh.curaeasy.notice.model.vo.Notice" alias="notice" />
		<typeAlias type="com.kh.curaeasy.artist.model.vo.Artist" alias="artist" />
		<typeAlias type="com.kh.curaeasy.rental.model.vo.Rental" alias="rental" />
		<typeAlias type="com.kh.curaeasy.display.model.vo.Display" alias="display" />
		<typeAlias type="com.kh.curaeasy.display.model.vo.DisplayAttachment" alias="displayAttachment" />
	</typeAliases>
	
	<mappers>
		<mapper resource="/mappers/member-mapper.xml" />
		<mapper resource="/mappers/notice-mapper.xml" />
		<mapper resource="/mappers/artist-mapper.xml" />
		<mapper resource="/mappers/rental-mapper.xml" />
		<mapper resource="/mappers/display-mapper.xml" />
	</mappers>
</configuration>  





